@media screen and (max-width: 1305px) {
  .crs {
    justify-content: center;
    flex-wrap: wrap;
  }
  .orqa-fon {
    // flex-wrap: wrap;
    gap: 20px;
    .j {
      .fil {
        flex-wrap: wrap;
      }
    }
  }
}
/////////////////////////////////////////////
@media screen and (max-width: 1308px) {
  .orqa-fon {
    justify-content: center;
    .j {
      padding-left: 0;
      margin: auto;
      text-align: center;
      .confort {
        margin: auto;
      }
      .re1 {
        text-align: center;
      }
      .re2 {
        text-align: center;
      }
      .re3 {
        text-align: center;
      }
      .fil {
        flex-wrap: wrap;
        justify-content: center;
      }
      .btnn {
        justify-content: center;
        margin: auto;
      }
      .kb {
        margin: auto;
      }
      .lorka {
        margin: auto;
      }
    }
  }
}
//////////////////////////////////////////////
@media screen and (max-width: 1285px) {
  .bg {
    padding-top: 20px;
    background-image: none;
    flex-wrap: wrap;
    justify-content: center;
    .ong {
      padding-left: 0px;
      .bb {
        // margin-top: 50px;
        margin: auto;
        padding: 0;
      }
      .katta {
        padding-right: 80px;
        padding-left: 80px;

        font-size: 46px;
      }
      .in {
        margin: auto;
        padding: 0;
        justify-content: center;
      }
      .lor {
        // padding-right: 80px;
        padding-right: 80px;
        padding-left: 80px;
      }
      margin: 0 auto;
      padding-bottom: 20px;
      text-align: center;
      img {
        display: none;
      }
    }
    .chap {
      img {
        margin: auto;
        // max-width: 720px;
        width: 100%;
        height: auto;
      }
    }
  }
  .orqa-fon {
    justify-content: center;
    .j {
      margin: auto;
      text-align: center;
      .confort {
        margin: auto;
      }
      .re1 {
        text-align: center;
      }
      .re2 {
        text-align: center;
      }
      .re3 {
        text-align: center;
      }
      .fil {
        flex-wrap: wrap;
        justify-content: center;
      }
      .btnn {
        justify-content: center;
        margin: auto;
      }
      .kb {
        margin: auto;
      }
      .lorka {
        margin: auto;
      }
    }
  }
}

///////////////////////////
@media screen and (max-width: 1183px) {
  .orqa-fon {
    flex-wrap: wrap;
    .j {
      margin: auto;
      text-align: center;
      .fil {
        justify-content: center;
      }
      .re1 {
        text-align: center;
        margin: auto;
      }
      .re2 {
        text-align: center;
        margin: auto;
      }
      .re3 {
        text-align: center;
        margin: auto;
      }
      .btnn {
        margin: auto;
        justify-content: center;
      }
    }
  }
}
////////////////630///////////
@media screen and (max-width: 620px) {
  orqa-fon {
    justify-content: center;
    padding-top: 20px;
    .j {
      padding-top: 10px;
      .kb {
        font-size: 28px;
      }
    }
    .key {
      display: none;
    }
  }
  //////////////////////////////////////
  @media screen and (max-width: 588px) {
    .bg {
      padding-right: 20px;
      .ong {
        .in {
          flex-wrap: wrap;
        }
        .katta {
          font-size: 36px;
          margin: auto;
          text-align: center;
          // padding: 10px 40px;
          padding-right: 40px;
          padding-left: 40px;
        }
        .lor {
          font-size: 18px;
          text-align: center;
          // padding: 10px 40px;
          padding-right: 40px;
          padding-left: 40px;
        }
      }
      .chap {
        padding-left: 15px;
        img {
          margin: 0 auto;
          max-width: 588px;
          width: 100%;
          height: auto;
        }
      }
    }
    .bf {
      .kl {
        max-width: 500px;
      }
      .ll {
        max-width: 500px;
      }
    }
    .bgg {
      flex-wrap: wrap;
      justify-content: center;
      padding-bottom: 60px;
      .o {
        padding-bottom: 10px;
      }
    }
  }
  @media screen and (max-width: 430px) {
    .bg {
      .ong {
        .katta {
          font-size: 24px;
          // padding: 10px 20px;
          padding-right: 15px;
          padding-left: 15px;
        }
        .lor {
          font-size: 16px;
          // padding: 10px 20px;
          padding-right: 15px;
          padding-left: 15px;
        }
        .in {
          // justify-content: space-around;
          padding-right: 20px;
        }
      }
      // .chap {
      //   width: 100%;
      // }
    }
    .bf {
      .kl {
        font-size: 38px;
        padding-bottom: 10px;
      }
    }
    //   .crs {
    //     padding: 0 5px;
    //     .cr {
    //       img {
    //         padding: 0 150px;
    //       }
    //       max-width: 350px;
    //       //   background: #000;
    //     }
    //   }
  }

  /////////////////////section4/////
  @media screen and (max-width: 430px) {
    .crs {
      width: 100%;
      // padding: 0 5px;
      margin: auto;
      justify-content: center;
      .cr {
        border-radius: 16px;
        border: 1px solid #e7e8e3;
        background: #fff;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
        max-width: 300px;
        max-height: 291px;
        flex-shrink: 0;
        .bold {
          color: #2a2c1f;
          text-align: center;
          font-family: Roboto;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: 33.6px; /* 140% */
          padding-top: 24px;
          padding-bottom: 17px;
        }
        .lorem {
          color: #65665c;
          text-align: center;
          font-family: Roboto;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; /* 150% */
          max-width: 270px;
          margin: auto;
        }
        .ee {
          margin-top: 49px;
          padding-left: 123px;
          //
          //   margin: auto;
        }
      }
    }
  }
  @media screen and (max-width: 430px) {
    .crs {
      max-width: 300px;
      margin: auto;
      // display: inline-block;
      padding: 0;
      margin: 0;
      justify-content: center;
      overflow: hidden;
      padding-bottom: 15px;
      .cr {
        z-index: 1;
        margin: 0;
        padding: 0;
        border-radius: 16px;
        border: 1px solid #e7e8e3;
        background: #fff;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
        max-width: 250px;
        max-height: 230px;
        flex-shrink: 0;
        .bold {
          color: #2a2c1f;
          text-align: center;
          font-family: Roboto;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 33.6px; /* 140% */
          padding-top: 18px;
          padding-bottom: 17px;
        }
        .lorem {
          color: #65665c;
          text-align: center;
          font-family: Roboto;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; /* 150% */
          max-width: 270px;
          margin: auto;
        }
        .ee {
          margin-top: 20px;
          padding-left: 98px;
          //
          //   margin: auto;
        }
      }
    }
  }
}
///////////////////////////////////////////////
@media screen and (max-width: 650px) {
  .bg-container {
    .rere {
      display: none;
    }
    .reree {
      display: none;
    }
    .matn {
      .fgfg {
        font-size: 18px;
      }
    }
    .btncha {
      flex-wrap: wrap;
    }
  }
}
@media screen and (max-width: 650px) {
  .matn {
    .fgfg {
      font-size: 12px;
    }
  }
  .cards {
    .card {
      height: 400px;
    }
  }
}
//////////////////////////////////////////
@media screen and (max-width: 500px) {
  .bg {
    .ong {
      .katta {
        .in {
          justify-content: center;
          margin: 0 auto;
          padding-left: 0;
          padding-right: 0;
          #site-search {
            justify-content: center;
          }
        }
      }
    }
  }
}

//////////////////////////////////////////
@media screen and (max-width: 480px) {
  .bf {
    .kl {
      font-size: 24px;
    }
  }

  .bg-color {
    .bg-container {
      .container {
        .matn {
          .fgfg {
            font-size: 24px;
          }
          .knop {
            p {
              font-size: 12px;
            }
          }
        }
        .cards {
          .card {
            .bll {
              font-size: 18px;
              .sum {
                font-size: 10px;
                // padding-bottom: 10px;
              }
            }
          }
        }
      }
    }
  }
  .black {
    .blokk {
      padding-top: 30px;
      .bbb {
        font-size: 24px;
      }
    }
  }
  .coon {
    .bg-cars {
      padding: 15px 10px;
      .oq-card {
        max-width: 460px;
        margin: auto;
        // padding: 0 5px;
        .padding {
          padding: 15px;
          max-width: 450px;
          width: 100%;
        }
      }
    }
    .matn1 {
      .bkatta {
        padding-top: 10px;
        font-size: 24px;
      }
    }
  }
}
///////////////////////////////////
@media screen and (max-width: 445px) {
  .crs {
    justify-content: center;
    margin: auto;
    .cr {
      justify-content: center;
    }
  }
  .bg-color {
    .container {
      .repit {
        .cardo {
          .mantcha {
            a {
              display: none;
            }
          }
        }
      }
    }
  }
  .bg {
    .ong {
      .in {
        padding-left: 30px;
      }
    }
  }
}
/////////////////////////////////////
@media screen and (max-width: 370px) {
  .crs {
    justify-content: center;
    margin: auto;
    .cr {
      justify-content: center;
    }
  }
  .coon {
    .bg-cars {
      padding: 15px 5px;
      .oq-card {
        max-width: 300px;
        margin: auto;
        // padding: 0 5px;
        .padding {
          padding: 15px;
          max-width: 450px;
          width: 100%;
          .mayda {
            font-size: 14px;
          }
        }
      }
    }
    .matn1 {
      .bkatta {
        padding-top: 10px;
        font-size: 24px;
      }
    }
  }
  .repit {
    .cardo {
      .mantcha {
        .loor {
          padding: 10px 0;
        }
      }
    }
  }
}
//////////////////////////////////////////
@media screen and (max-width: 394px) {
  .coon {
    overflow: hidden;
    padding-bottom: 15px;
    .bg-cars {
      padding: 0 5px;
      .oq-card {
        max-width: 300px;
        margin: auto;
        // padding: 0 5px;
        .padding {
          padding: 15px;
          max-width: 450px;
          width: 100%;
          .mayda {
            font-size: 14px;
          }
        }
      }
    }
    .matn1 {
      .bkatta {
        padding-top: 10px;
        font-size: 24px;
      }
    }
  }
}
////////////////////////////////////////////////////////
@media screen and (max-width: 620px) {
  .container {
    .orqa-fon {
      padding-bottom: 30px;
      .j {
        .kb {
          font-size: 24px;
        }
        .fil {
          .lo {
            .bld {
              font-size: 18px;
            }
          }
        }
      }
      .key {
        display: none;
        // max-width: 300px;
        // margin: auto;
      }
    }
  }
}
//////////////////////////////////////////////////////////////////
